{
  "extends": ["airbnb-base", "plugin:lodash/canonical", "plugin:node/recommended", "plugin:prettier/recommended"],
  "plugins": ["jest", "lodash", "no-loops", "node"],
  "env": {
    "node": true,
    "jest": true,
    "browser": true
  },
  "globals": {
    "chrome": true
  },
  "settings": {
    "lodash": {
      "version": 4
    }
  },
  "rules": {
    "id-length": [2, { "exceptions": ["_", "i", "j"], "min": 2, "properties": "never" }],
    "indent": [2, 2, { "SwitchCase": 1 }],
    "lodash/prefer-constant": "off",
    "lodash/prefer-immutable-method": "off",
    "no-console": "off",
    "no-shadow": [2, { "allow": ["cb", "err", "done", "resolve", "reject"] }],
    "no-underscore-dangle": "off",
    "node/no-unpublished-require": "off"
  }
}
